{% extends "viewer/base.html" %}
{% block content %}
<body class=" app-viewer model-applicant">
	<div id="container">	
		<div id="content" class="colM">	
        <h4>Create New Education</h4>
        <div id="content-main">
			<form action="" method="post">
    			{% csrf_token %}
    				<fieldset class="module aligned ">
    					{% for field in form  %}
		      				<div class="form-row">
			      				<div class="col-sm-6">
			        				<b>{{ field.label_tag }}</b> - {{ field }}
			      				</div>
		  					</div>
   						{% endfor %}
			   		</fieldset>
   					<input type="submit" class="btn btn-primary" value="Create">
            <input type="submit" class="btn btn-primary" name="create_another" value="Create And Add Another">

   			</form>
   		</div>
   		<br class="clear">
   </div>
</div>
<div id="content" class="colM">	
</body>

{% endblock %}


        