{% extends "viewer/base.html" %}
{% block content %}
<body class=" app-viewer model-applicant">
  <div id="container">  
    <div id="content" class="colM"> 
        <h4>Create New Project</h4>
        <div id="content-main">
          <ul>
            <p>A Project briefely describes a team or personal project that you worked on at an employment.</p>
            <br>
          <p> Examples: </p>
            <ul>

                <li>Improved onboarding process</li>
                <li>Developed app for production support</li>
                <li>Created new forms for ticket processing</li>
                <li>Reorganized computer lab</li>
            </ul>
            </ul>
			<form action="" method="post">
    			{% csrf_token %}
    				<fieldset class="module aligned ">
    					{% for field in form  %}
		      				<div class="form-row">
			      				<div class="col-sm-6">
			        				<b>{{ field.label }}</b>: {{ field }}
			      				</div>
		  					</div>
   						{% endfor %}
			   		</fieldset>
            <input type="submit" class="btn btn-primary" name="create" value="Create">
            <input type="submit" class="btn btn-primary" name="create_another" value="Create And Add Another">				
   			</form>
   		</div>
   		<br class="clear">
   </div>
</div>
<div id="content" class="colM">	
</body>

{% endblock %}


        