{% extends "viewer/base.html" %}
{% block content %}
<body class=" app-viewer model-applicant">
	<div id="container">	
		<div id="content" class="colM">	
        <h4>New Resume Wizard</h4>
        <div id="content-main">
			<p>The wizard process will help you create the resources to build a resume. </p>
			<p> Please read the resource descriptions before proceeding with the wizard.</p>

			<div class="container">
				<ul>
				</ul>
			</div>
			 <ul>
  			<li><b>Experience Domain</b> - The overarching categories that your experiences fit into</li>
  			<li><b>Experience</b> - The relevant experiences to your history </li>
  			<li><b>Duty</b> - A short description of a duty or responsibility that you were responsible for at one of your employments</li>
  			<li><b>Project</b> - A short description of a primary or side project that you worked on. </li>
  			<li><b>Education</b> - An education, certification or other learning related credit.</li>
  			<li><b>Employment</b> - A place you worked at, associated with duties, projects and references.</li>
  			<li><b>Reference</b> - A person at an employment who can be contacted for a employment reference. </li>
  			<li><b>Applicant</b> - Your contact information. </li>
  			<li><b>Resume</b> - Format, styling and reference name for your new Resume.</li>
</ul> 
   		</div>
			<a href="/domain/new"><button type="button" class="btn btn-primary">Start Wizard</button></a>
   </div>
</div>
<div id="content" class="colM">	
</body>

{% endblock %}


        