{% extends "viewer/base.html" %}
	{% if xp_list %}
		{% block content %}
		<div class="p-3 mb-2 text-dark">
		<table class="table" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%;">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Experience</th>
			      <th scope="col">Domain</th>
			      <th scope="col">Actions</th>
			    </tr>
			</thead>
        	<tbody>
			{% for xp in xp_list %}
			        <tr>
			        	<th scope="row"> {{ forloop.counter }} </th>
			        	<td>{{ xp.name }}</td>
			        	<td>{{ xp.domain }}</td>
			        	<td>
							<a href="/experience/edit/{{ xp.id }}"><button type="button" class="btn btn-primary">Edit</button></a>
							<a class="show-delete-{{ xp.id }}" href=#><button type="button" class="btn btn-danger">Delete</button></a>
						 </td>
					</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="content" class="colM">	
		<div id="content-main">
			<a href="/domain/new"><button class="btn btn-primary">Create New Experience Domain</button></a>
			<a href="/experience/new"><button class="btn btn-primary">Create New Experience</button></a>

		</div>
	</div>
</div>
	{% for xp in xp_list %}
		<script>
			$(document).on("click", ".show-delete-{{ xp.id }}", function(e) {

				bootbox.confirm("Are you sure you want to delete?",
				function (result) {        
						if(result) {
							window.open("/experience/delete/{{ xp.id }}","_self");
						};
				});
			});
		</script>
	{% endfor %}
		{% endblock %}
	{% endif %}

